<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://maps.googleapis.com/maps/api/js"></script>

		        <title>Restrooms advisor</title>
		    </head>

  <body onload="getLocation();" >
	   <h1 class="Logo"> List of restrooms  </h1>

				<div><p>Add a restroom <button class="New_restroom"><%= link_to("New restroom", new_restroom_path(@restroom)) %></button></p></div>
			
				<div class="row">
				  <div class="col-sm-3">
		 		     <% @list_restrooms.each do |restroom| %>
		    		  <ul>
					    <li><p><%=link_to(restroom.name, restroom_path(restroom.id))%></p></li>
					      <p><strong>Access:</strong><%= restroom.access %></p>
					      <p><strong>Facilities:</strong><%= restroom.facilities %></p>
					      <p><strong>Accesible facilities:</strong><%= restroom.accessible_facilities %></p>
					      <p><strong>Opening:</strong><%= restroom.opening %></p>
					      <p><strong>Baby changing:</strong><%= restroom.baby_changing %></p>
					      <p><strong>Fee:</strong><%= restroom.fee %></p>
					      <p><strong>Notes:</strong><%= restroom.notes %></p>
					      <p><div class= "average_rating" >Average Rating : <div id="average_rating" style="display:inline;"><%= restroom.avg_rating %></div></div></p>
								<button><li> <%= link_to("Edit", edit_restroom_path(restroom.id))  %> </button>
							 	<button><%= link_to "Destroy", restroom_path(restroom), method: :delete, data: {confirm: "Are you sure?"} %></button> </li>

				       </ul>
				    <%end%>
			 	  </div>

				  <div id="mapholder" class="col-sm-8">
				  </div>
				</div>

    	<script type="text/javascript" src=""></script>
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  </body>
</html>